$color_1: whitesmoke;
$background-color_1: transparent;
$background-color_2: rgb(239, 239, 239);

@keyframes scroll_4013 {
	0% {
		transform: translateY(40%);
	}
	50% {
		transform: translateY(90%);
	}
}
.scrollBtn {
	width: 30px;
	height: 50px;
	border-radius: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $background-color_1;
	border: none;
	outline: 2px solid rgb(247, 247, 247);
	box-shadow: 0px 0px 10px rgb(213, 213, 213);
	position: relative;
	&:after {
		content: '';
		position: absolute;
		top: 140%;
		color: $color_1;
		text-transform: uppercase;
		letter-spacing: 1.5px;
	}
}
.scroll {
	width: 5px;
	height: 10px;
	border-radius: 10px;
	background-color: $background-color_2;
	box-shadow: 0px 0px 10px rgb(226, 226, 226);
	animation: scroll_4013 2s linear infinite;
	transform: translateY(40%);
}
