$color_1: #fff;
$background-color_1: rgba(0, 0, 0, 0.329);
$background-color_2: #7AA868;
$background-color_3: #222;
$background-color_4: rgb(235, 44, 44);
$background-color_5: var(--main-color);
$background-color_6: #fff;

/* Extra small devices (phones, less than 576px) */
/* Your styles here */
/* Small devices (tablets, 576px and up) */
/* Your styles here */
/* Medium devices (desktops, 768px and up) */
/* Your styles here */
/* Large devices (desktops, 992px and up) */
/* Your styles here */
/* Extra large devices (large desktops, 1200px and up) */
/* Your styles here */
/* Extra extra large devices (larger desktops, 1400px and up) */
/* Your styles here */
.cart_container {
  position: fixed;
  width: 0%;
  height: 100%;
  right: 0;

  background-color: $background-color_1;
  z-index: 999;
  // transform: translateX(100%);
  
  &.open {
    width: 100%;
    z-index: 9999999999;
  }
  .cart_contnet {
    position: fixed;
    width: 450px;
    // padding: 20px;
    height: 100%;
    background: rgb(93, 149, 76);
    background: radial-gradient(
      circle,
      rgba(93, 149, 76, 1) 0%,
      rgba(151, 188, 132, 1) 100%
    );
    // border-radius: 20px 0 0 20px;
    right: 0;
    z-index: 999999999999999;
    transform: translateX(100%);
    transition: 0.2s ease;
    .cart_header {
      display: flex;
      align-items: center;
      justify-content: center;
      h2 {
        color: $color_1;
        font-weight: bolder;
      }
    }

    .checkout_content {
      padding: 5%;
      position: absolute;
      bottom: 0px;
      width: 100%;
      height: 160px;
      z-index: 2;
      background-color: #356021;
      box-shadow:  0 0 10px #213c14;
    }
  }
  .cart_prods {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    position: relative;
    gap: 10px;
    .remove_from_cart {
      position: absolute;
      top: 20px;
      cursor: pointer;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: $background-color_4;
      color: $color_1;
      display: flex;
      align-items: center;
      justify-content: center;
      right: 20px;
    }
  }
}
.cart_container.open {
  transform: translateX(0);
  .cart_contnet {
    transform: translateX(0);
  }
}
.close_btn_cart {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 100%;
  width: 60px;
  border-radius: 30% 0 0 30%;
  height: 60px;
  background-color: $background-color_2;
  box-shadow: -5px 10px 10px #1e1e1e3e;
  color: white !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  cursor: pointer;
}

.cart_prod {
  padding: 20px;
  background-color: $background-color_5;
  display: flex;
  gap: 10px;
  cursor: grab;
  // border: 1px solid white;
  background-color: #51874b;
  border-radius: 20px;
  .prod_image {
    width: 70px;
    background-color: white;
    object-fit: fill;
    height: 90px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
  .cart_container {
    .cart_contnet {
      width: 100%;
    }
  }
  .cart_prod {
    align-items: center;
    gap: 10px;
    padding: 10px;
  }
  .prod_data{
    gap: 5px;
  }

  .close_btn_cart.open {
    top: 20px;
    transform: translateY(0);
    right: 20px;
    width: 50px;
    height: 50px;
    font-size: 35px;
    border-radius: 50%;
    z-index: 20;
  }



}


  


/* Small devices (tablets, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* Your styles here */
  

}

/* Medium devices (desktops, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Your styles here */

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Your styles here */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  /* Your styles here */
}

/* Extra extra large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  /* Your styles here */
}
