

.prod-details-swiper{
  .swiper-button-prev , .swiper-button-next{
    color: #599066 !important;
    width: 30px !important;
    height: 30px !important;
  }
  .swiper-pagination-bullet{
    background-color: #599066 !important;
  }
}