.entryCard {
  height: 450px;
  transition: all 0.4s;
  border-radius: 0px !important;
  overflow: hidden;
  position: relative;

  &:hover {
    border-radius: 0px;
    cursor: pointer;
    box-shadow: 0px 0px 10px 5px rgba(59, 59, 59, 0.182);
    .first-content {
      img {
        transform: scale(1.08);
      }
    }
    .second-content {
      opacity: 1;
      height: 100%;
      font-size: initial;
      border-radius: 0;
      filter: invert(0) blur(0) !important;
    }
  }
}

.first-content {
  height: 100%;
  width: 100%;
  transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  border-radius: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
    transition: all 0.4s;
  }
}

.second-content {
  height: 100%;
  width: 100%;
  display: flex;
  position: absolute;
  top: 0;
  border-radius: 15px;
  transition: all 0.4s;
  font-size: 0px;
  opacity: 0;
  inset: 0;
  left: 0;
  right: 0;
  filter: invert(1) blur(10px) !important;
}

/* Media Queries */
@media (max-width: 1200px) {
  .entryCard {
    height: 400px; /* Adjusting height for large tablets or smaller screens */
  }

  .first-content {
    img {
      transform: scale(1.05); /* Slightly smaller scale for larger screens */
    }
  }
}

@media (max-width: 992px) {
  .entryCard {
    height: 300px; /* Adjusting height for tablets */
  }

  .first-content {
    img {
      transform: scale(1.03); /* Even smaller scale for tablets */
    }
  }

  .second-content {
    font-size: 14px; /* Adjust font size for medium screens */
  }
}

@media (max-width: 768px) {
  .entryCard {
    height: 300px; /* Adjusting height for mobile */
  }

  .first-content {
    img {
      transform: scale(1.02); /* Slight scaling for mobile */
    }
  }

  .second-content {
    font-size: 16px; /* Adjusting font size */
    opacity: 1; /* Showing second content earlier on smaller screens */
  }
}

@media (max-width: 480px) {

  .first-content {
    img {
      transform: scale(1.0); /* Removing scale effect on very small screens */
    }
  }

  .second-content {
    font-size: 18px; /* Larger font size on very small screens */
    opacity: 1;
  }
}

/* Adjust layout and typography on smaller screens */

