// .side_bar{


//     transform: translateY(-100%);
//     transition: .4s ease;
//     &.open{
//       transform: translateY(0);

//     }

//   .content{
//     position: fixed;
//     right: 0;
//     transform: translateY(-100%);
//     transition: .4s ease;
//     &.open{
//       transform: translateY(0);

//     }
//   }

// }