.styled_background__ {
}

/* .styled_background__.white {
  background-image: radial-gradient(
      circle at 53% 74%,
      rgba(89, 144, 102, 0.08) 0%,
      rgba(89, 144, 102, 0.08) 33.333%,
      rgba(89, 144, 102, 0.08) 33.333%,
      rgba(89, 144, 102, 0.08) 66.666%,
      rgba(89, 144, 102, 0.08) 66.666%,
      rgba(89, 144, 102, 0.08) 99.999%
    ),
    radial-gradient(
      circle at 14% 98%,
      rgba(89, 144, 102, 0.08) 0%,
      rgba(89, 144, 102, 0.08) 33.333%,
      rgba(89, 144, 102, 0.08) 33.333%,
      rgba(89, 144, 102, 0.08) 66.666%,
      rgba(89, 144, 102, 0.08) 66.666%,
      rgba(89, 144, 102, 0.08) 99.999%
    ),
    white;
} */

.waves {
  position: relative;
  width: 100%;
  height: 20vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 250px;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/* 
.dddd {
  color: #f4ffc365;
  color: #76b2546b;
  color: #5b913b6e;
  color: #599066;
} */
