

.hamburger {
	
	cursor: pointer;
	input {
		display: none;
		&:checked {
			+ {
				svg {
					transform: rotate(-45deg);
					.line-top-bottom {
						stroke-dasharray: 20 300;
						stroke-dashoffset: -32.42;
					}
				}
			}
		}
	}
	svg {
		height: 3em;
		transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
	}
}


.line {
	fill: none;
	stroke: white;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-width: 3;
	transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}


.green .line{
	stroke: #788C50;
}
.line-top-bottom {
	stroke-dasharray: 12 63;
}
