
.motion_slider {
  max-width: 100%;
  height: 100% !important;
  overflow-x: hidden;
  transition: .4s ease-out transform;

  &:active {
    transform: scale(.95);
  }
}

.slides {
  display: flex;
  list-style: none;
  will-change: transform;
  height: 100% !important;


  &:hover {    
    cursor: grab;
  }

  &:active {
    cursor: grabbing;
  }
  
  li{
    &:not(:last-of-type) {
      margin-right: 15px;
    }

    div{
      width: 600px;
      background-size: cover;
      background-position: center top;
      background-repeat: no-repeat;
      user-select: none;
    }
  }
}