.chef_card {
  height: 550px;
  transition: all 0.4s;
  border-radius: 15px !important;
  overflow: hidden;
  position: relative;

  @media (max-width: 1024px) {
    height: 480px;
  }

  @media (max-width: 768px) {
    height: 500px;
  }

  @media (max-width: 480px) {
    height: 450px;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px 5px rgba(59, 59, 59, 0.182);

    .first-content {
      img {
        filter: blur(10px);
        @media (max-width: 1024px) {
          filter: blur(0);
        }
      
        @media (max-width: 768px) {
          filter: blur(0);
        }
      
        @media (max-width: 480px) {
          filter: blur(0);;
        }
      }

    }

    .second-content {
      opacity: 1;
      height: 100%;
      font-size: initial;
      background-image: url("https://res.cloudinary.com/dhebgz7qh/image/upload/v1767444279/zmovmsobwahf2a353gxu_xdwksa.jpg");
      background: #8fb77580;
      filter: blur(0) !important;
      @media (max-width: 1024px) {
        display: none;
      }
    
      @media (max-width: 768px) {
        display: none;
      }
    
      @media (max-width: 480px) {
        display: none;;
      }
    }
  }
}

.first-content {
  height: 100%;
  width: 100%;
  transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  border-radius: 15px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: all 0.4s;

    @media (max-width: 768px) {
      border-radius: 8px;
    }

    @media (max-width: 480px) {
      border-radius: 6px;
    }
  }
}

.second-content {
  height: 100%;
  width: 100%;
  display: flex;
  position: absolute;
  top: 0;
  overflow: hidden;
  border-radius: 15px;
  transition: all 0.4s;
  font-size: 0px;
  opacity: 0;
  inset: 0;
  left: 0;
  right: 0;
  filter: blur(10px) !important;

  @media (max-width: 768px) {
    font-size: 12px;
  filter: blur(0) !important;
  
}

@media (max-width: 480px) {
  font-size: 10px;
  filter: blur(0) !important;
  }
}
.bottom-chef-data{
    display: none;
  @media (max-width: 1024px) {
    display: block;
  }

  @media (max-width: 768px) {
    display: block;
  }

  @media (max-width: 480px) {
    display: block;
  }
}


@media (hover: none) and (pointer: coarse) {
  .chef_card:hover {
    box-shadow: none !important;

    .first-content img {
      filter: none !important;
    }

    .second-content {
      opacity: 0 !important;
      font-size: 0 !important;
      filter: blur(10px) !important;
    }
  }
}
