/* Arrow Style Two */
.arrow-style-two {
  position: relative;
  .slick-arrow {
    left: auto;
    right: 0;
    bottom: calc(100% + 50px);
    width: 60px;
    height: 60px;
    border-radius: 5px;

    &:hover::after {
      visibility: hidden;
      opacity: 0;
    }
    &::before {
      opacity: 1;
    }
    &::after {
      width: calc(100% - 2px);
      height: calc(100% - 2px);
      opacity: 1;
      visibility: visible;
      background: white;
      transform: translate(1px, 1px);
    }
  }
  .slick-prev {
    right: 80px;
  }
  .slick-next {
    transform: translateX(0px);
  }
}

$form-padding: 20px;
$form-border-radius: 5px;
$input-border: 1px solid #ccc;
$button-bg: #333;
$button-color: white;

.fixed-bg {
  padding: 120px 0;
  position: relative;
  clip-path: inset(0);

  &:before {
    content: "";
    background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(rgba(0, 0, 0, 0.733)),
      to(rgba(0, 0, 0, 0.266))
    );
    position: absolute;
    inset: 0;
    z-index: 2;
  }

  .fixed-img {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    user-select: none;
    height: 100%;
    object-fit: cover;
    z-index: 1;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.5);
    }
  }

  ._overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    background-color: #313131ba;
  }
}



  
/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
  /* Your styles here */
  .fixed-bg {
    padding: 80px 0;
}
}

/* Small devices (tablets, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* Your styles here */
  

}

/* Medium devices (desktops, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Your styles here */

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Your styles here */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  /* Your styles here */
}

/* Extra extra large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  /* Your styles here */
}
