$color_1: #fff;
$background-color_1: #599066;
$background-color_2: #f08a5d;

/* From Uiverse.io by vamsidevendrakumar */
.flip_card {
  width: 550px;
  height: 350px;
  perspective: 1000px;
  border-radius: 10px;
  transition: all 0.3s;

  &.flipped {
    .card-inner {
      transform: rotateY(180deg)  ;
      // transform: scale(1.1);
      // box-shadow: 0 0 40px #cbcbcb;
    }
  }
  &:hover {
    .card-inner {
      // transform: rotateY(180deg);
      // transform: scale(1.1);
      cursor: pointer;
      box-shadow: 0 0 40px #cbcbcb;
    }
  }
}
.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: transform 0.999s;
}
.card-front {
  img{
    border-radius: 10px;
  }
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;

  backface-visibility: hidden;
  // background-size: cover;
  color: $color_1;
  display: flex;
  align-items: center;
  border-radius: 10px;
  // border: 1px solid $background-color_1;
  justify-content: center;
  font-size: 24px;
  box-shadow: 0 0 30px #c2c2c2;
  transform: rotateY(0deg);
}


.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  color: $color_1;
  display: flex;
  overflow: hidden;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(180deg);
}
  
/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
  /* Your styles here */
  .flip_card {
    width: 100% !important;
    height: 230px;
  }   
}

/* Small devices (tablets, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* Your styles here */
  

}

/* Medium devices (desktops, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Your styles here */

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Your styles here */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  /* Your styles here */
}

/* Extra extra large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  /* Your styles here */
}
