$color_1: white;
$background-color_1: #CA852D;
$background-color_2: #599066;

.to_top_button {
  position: fixed !important;
  bottom: 30px;
  right: 20px;
  width: 50px;
  z-index: 90;
  height: 50px;
  border-radius: 50%;
  background-color: $background-color_1;
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 4px rgba(160, 255, 177, 0.253);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
  &:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: $background-color_2;
    align-items: center;
    .svgIcon {
      transition-duration: 0.3s;
      transform: translateY(-200%);
    }
    &::before {
      font-size: 13px;
      opacity: 1;
      bottom: unset;
      transition-duration: 0.3s;
    }
  }
  &::before {
    position: absolute;
    bottom: -20px;
    content: "Back to Top";
    color: $color_1;
    font-size: 0px;
  }
}
.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
  path {
    fill: white;
  }
}
