.glassmorphism {
  background: rgba(255, 255, 255, 0.663);
  box-shadow: 0 8px 32px 0 rgba(33, 40, 142, 0.148);
  backdrop-filter: blur( 5px );
  // -webkit-backdrop-filter: blur( 20px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
